In [20]:
# Bibliotecas padrão
import sys

# PyData stack
import pandas as pd            # Para manipulação de dados
import numpy as np             # Para operações numéricas
import matplotlib.pyplot as plt       # Para visualização de dados
import seaborn as sns          # Para visualização de dados estatísticos
import sklearn                 # Para aprendizado de máquina
from sklearn import svm       # Para suporte de máquinas de vetores de suporte (SVM)

from matplotlib_inline.backend_inline import set_matplotlib_formats
set_matplotlib_formats('retina')

%matplotlib inline

In [22]:
print(f'Versão do Python: {sys.version}')
print(f'Versão do Pandas: {pd.__version__}')
print(f'Versão do seaborn: {sns.__version__}')
print(f'Versão do scikit-learn: {sklearn.__version__}')

Versão do Python: 3.11.7 (main, Dec 15 2023, 18:12:31) [GCC 11.2.0]
Versão do Pandas: 2.1.4
Versão do seaborn: 0.12.2
Versão do scikit-learn: 1.2.2

# Carregar os dados

In [23]:
iris = pd.read_csv('data/iris.csv')

### Dados carregados

In [24]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [25]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [26]:
iris['species'] = iris['species'].astype('category')

In [28]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    category
dtypes: category(1), float64(4)
memory usage: 5.1 KB

In [30]:
# Estatísticas básicas dos dados
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000